font {
    text-align: center;
    color: red;
    }
    
    h1 {
    text-align: center;
    color:blue;
    }

button {
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    float:center;
    height: 5em;
    left: 30px;
    
}

body {
    background-color: lightblue;
    background-image: url("/static/Safey robot.jpg");
    background-position: center;
    margin-right: 200px;
    background-attachment: fixed;
}

