body {
    background-color: lightblue;
    font-family: "Times New Roman", Times, serif;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    -o-user-select: none;
     user-select: none;
}    
    h1 {
    text-align: left;
    color:blue;
    font-weight: bold;
    }

img {
    position: absolute;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    -o-user-select: none;
     user-select: none; 
     top: 150px   
    }
button {
    position: absolute;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    color: white;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    font-size: 20px;
    padding: 15px 20px 10px 20px;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    -o-user-select: none;
     user-select: none;
    
}

#left { 
    left: 10px;
    top: 280px;
    }
#right {
    left: 480px;
    top: 280px;
    }
    
#go {
    left: 270px;
    top: 160px;
    }
 
#back {
    left: 270px;
    top: 410px;
    }

#batterystats {
    color:blue;
    background-color:orange;
    }
#voltage {
    color: green
    background-color:white;
    
    }
#rightsensor.activated {
   color:yellow; 
   background-color:red;
    }
#leftsensor.activated {
    color: orange;
    background-color:red;
    }
#capacity {
    color: red;
    background-color:white;
    }
  
table, td, th {
    background-color:lightblue;    
    border: 1px solid #ddd;
    padding: 30px;
    text-align: center;
    position:left;
    font-size: 110%;
    }

table {
    border-collapse: collapse;
    width: 70%;
}

th, td {
    padding: 15px;
}


#battery {
  border: 2px solid white;
  background: black;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  height: 20px;
  padding: 2px;
}

#charge {
  width: 70%;
  background: white;
  height: 100%;
}

